<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fasterflect" version="2.1.3" targetFramework="net47" />
  <package id="LZMA-SDK" version="9.20" targetFramework="net47" />
  <package id="md-stdl" version="0.3.5" targetFramework="net47" />
  <package id="mp.pddn" version="1.3.0" targetFramework="net47" />
  <package id="Notui" version="0.3.1" targetFramework="net47" />
  <package id="SharpDX" version="4.0.1" targetFramework="net47" />
  <package id="SharpDX.RawInput" version="4.0.1" targetFramework="net47" />
  <package id="SimMetrics.Net" version="1.0.4" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net47" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.Core" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.Interfaces" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.Linq" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.PlatformServices" version="4.0.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net47" />
</packages>